body{
  background-color: #ffe6e6;
  list-style-position: inside;
}

.cabecalho{
  text-align: center;
  border-bottom: 5px solid black;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.margem{
  margin-left: 90px;
  margin-right: 90px;
}

.foto{
  height: 230px;
  position: absolute;
  right: 100px;
  border-radius: 100%;
}

.info{
  font-size: 24px;
}

b{
  font-size: 20px;
}
