body{
  background-color: #d9d9d9;
  list-style-position: inside;
}

h1{
  text-align: center;
  border-bottom: 5px solid black;
  margin-left: 20px;
  margin-right: 20px;
}

b{
  font-size: 20px;
}

.d1{
  margin-left: 90px;
  margin-right: 90px;
}